{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block cssstyle %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock cssstyle %}
{% block title %}Log In{% endblock title %}



{% block content %}
<div class="position-relative">
    <div class="position-absolute top-100 start-50 translate-middle-x" style="margin-top:5rem;width:300px;">

        <div class="bg-light p-4 rounded mt-10 shadow">
            <h2 class="text-center">Movies</h2>
            <hr/>
            <br>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-grip gap-2" >
                    <p>
                        <a class="fs-6 fst-italic" href="{% url 'password_reset' %}">Forgot Your Password?</a>    
                    </p>
                    <button class="btn btn-primary" type="submit" style="width: 100%;">Log in</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{{ form.username.label_tag }}
{{ form.username }}
{{ form.password }}
https://docs.djangoproject.com/en/3.2/topics/auth/default/