{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Password Change Successful{% endblock title %}

{% block content %}
<div class="position-relative">
    <div class="position-absolute top-100 start-50 translate-middle-x" style="margin-top:10rem;">
        <div class="bg-light p-5 rounded mt-10 shadow">
<div style="margin:10px;">
    <h2>Password Change Successful</h2>
    <p>Your password has been changed.</p>
</div>
</div></div></div>
{% endblock content %}
    <button class="btn btn-success ml-2" type="submit">Change Password</button>


#    https://sendgrid.com/
#    https://www.sendinblue.com/
#    
    