{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Password reset complete{% endblock title %}

{% block content %}
<div class="position-relative">
    <div class="position-absolute top-100 start-50 translate-middle-x" style="margin-top:10rem;">
        <div class="bg-light p-5 rounded mt-10 shadow">
    <h1>Password reset complete.</h1>
    <p>Your new password has been set. You can log in now on the
        <a href="{% url 'login' %}">Log In page</a>
    </p>
    </div></div></div>
{% endblock content %}


