{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Forgot Your Password?{% endblock title %}

{% block content %}
<div class="position-relative">
    <div class="position-absolute top-100 start-50 translate-middle-x" style="margin-top:10rem;">
        <form style="box-shadow: -2px 3px 2px #b1b1b1;border: 1px solid #ccc;
        border-radius: 5px; padding:10px;">
            <h3>Forgot your password?</h3>
            <p class="text-center">
                Enter your email address below.
                <br>We'll email instructions.
            </p>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <br>
                <input class="btn btn-primary" type="submit" value="Send Email" style="margin-left: 5px; width:45%">
                <a href="{% url 'login' %}">
                    <button class="btn btn-primary" type="button" style="margin-left:5px; width:45%">Cancel</button>
                </a>
            </form>
        </form>
    </div>
</div>
{% endblock content %}