{% extends 'base.html' %}

{% block title %}Email Sent{% endblock title %}

{% block content %}
<div class="position-relative">
    <div class="position-absolute top-100 start-50 translate-middle-x" style="margin-top:10rem;">
        <div class="bg-light p-5 rounded mt-10 shadow">
    <h1>Check your inbox.</h1>
    <p>We've emailed you instructions for setting your password.</p>
    <p>You should receive the email shortly!</p>
</div></div></div>
{% endblock content %}

# after you click on password_reset_form it goes here

# get all the variable in template
<textarea onclick="this.focus();this.select()" style="width: 100%;"> {% filter force_escape %} {% debug %} {% endfilter %}</textarea>
