{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block cssstyle %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock cssstyle %}

{% block title %}Forgot Your Password?{% endblock title %}

{% block content %}
<div class="position-relative">
    <div class="position-absolute top-100 start-50 translate-middle-x" style="margin-top:10rem;">
        <div class="bg-light p-5 rounded mt-10 shadow">
            <h3>Forgot your password?</h3>
            <p class="text-center">
                Enter your email address below.
                <br>We'll email instructions.
            </p>
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <br>
                <label class="mt-3">
                    <input class="btn btn-primary" type="submit" value="Send Email" style="margin-left: 5px; width:45%">
                    <a href="{% url 'login' %}">
                        <button class="btn btn-primary" type="button" style="margin-left:5px; width:45%">Cancel</button>
                    </a>
                </label>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

# note that you can not have div inside the form or else the input go through in django