{% extends 'base.html' %}
{% load static %}
{% load poll_extras %}
{% block cssstyle %}
<link rel="stylesheet" href="{% static 'css/article_detail.css' %}">
{% endblock cssstyle %}

{% block title %}Articles{% endblock title %}

{% block content %}
    <div class="container">

        {% for article in object_list reversed %}
        <div class="card mx-auto">
            {% if article.image.url != '/static/images/' %}         
                <a href="{% url 'article_detail' article.pk %}">
                    {% with article_image=article.image.url|get_image_url %}
                    <img src="/static/images/{{ article_image }}.jpg" class="rounded mx-auto d-block img-fluid" alt="image">
                    {% endwith %}
                </a>            
            {% endif %}
            <div class="card-body">
                <a href="{% url 'article_detail' article.pk %}" style="text-decoration: none; color: black;">
                    <div class="card-header">
                        <h5 class="card-title">{{ article.title|capfirst }}</h5>
                    </div>
                    <p class="card-text">{{ article.body }}</p>
                    <p>
                        <span class="text-muted">
                            by {{ article.author }} &middot; {{ article.date }}
                        </span>
                    </p>
                </a>

                <a href="{% url 'article_detail' article.pk %}" class="btn btn-primary">View Article</a>
                {% if user == article.author %}
                <div class="article-detail-ed">
                    <a class="btn btn-primary" href="{% url 'article_edit' article.pk %}">Edit</a>
                    <a class="btn btn-primary" href="{% url 'article_delete' article.pk %}">Delete</a>
                </div>
                {% endif %}
            </div>
        </div>
        <br />
        {% endfor %}
    </div>
{% endblock content %}

for local:
<img class="rounded mx-auto d-block img-fluid" src="{{ article.image.url }}" alt="your image">

for heroku: (line 18)
<img src="/static/images/{{ article_image }}.jpg" class="rounded mx-auto d-block img-fluid" alt="image">

<div class="card-footer text-center text-muted">
        {% for comment in article.comments.all %}
        <p>
            <span class="font-weight-bold">
                {{ comment.author }} &middot;
            </span>
            {{ comment }}
            {{ comment.star }}
        </p>
        {% endfor %}
    </div>

    
%middot;    # special character the dot is in the middle of the line