{% extends 'base.html' %}
{% load static %}

{% block cssstyle %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock cssstyle %}

{% block title %}Create Article{% endblock title %}

{% block content %}
<div class="position-relative">
    <div class="position-absolute top-100 start-50 translate-middle-x" style="margin-top:2rem; width: 90%">

        <div class="bg-light p-5 rounded mt-10 shadow">
            <h1>New Article</h1>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <button class="btn btn-lg btn-primary ml-2" type="submit">Save</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}