{% extends 'base.html' %}

{% block title %}Delete comment{% endblock title %}

{% block content %}
<div class="position-relative">
    <div class="position-absolute top-100 start-50 translate-middle-x" style="margin-top:5rem;width:300px;">

        <div class="bg-light p-4 rounded mt-10 shadow">
    <h1>Delete</h1>
    <form action="" method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ comment.comment }}"?</p>
        <button class="btn btn-danger ml-2" type="submit">Confirm</button>
    </form>
    </div></div></div>
{% endblock content %}